#stuck-nav {
  top: -60px;
  transition: .5s ease;
}

.main-header {
    height: 600px;
}

.navbar a {
  font-size: 24px;
  color: #fff;
  padding-left: 40px !important;
  padding-right: 40px !important;
  font-family: 'Montserrat', sans-serif;
}

.navbar a::after {
  
}

.logo-container {
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.5);
}
