/*.main-header {
  background-position: center;
  background-color: #2980b9;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}*/

/*.navbar a {
  font-size: 1rem;
  color: #fff;
  padding-left: 40px !important;
  padding-right: 40px !important;
  font-family: 'Montserrat', sans-serif;
}*/

.social-media-icons {
  list-style: none;
}

.social-media-icons>li {
  display: inline-block;
  padding: 0 0 0 10px;
}

.social-media-icons>li>a {
  font-size: 1.2rem;
}

#cos-main-slider .carousel-item {
  background-position: center;
  background-color: #2980b9;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
